<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fp.pet.mapper.ProductMapper">

	<!-- 일반 상품 목록 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM product
		WHERE special=0 AND productShow=1 AND categoryNum = #{categoryNum}
	</select>
	
	<select id="listProduct" parameterType="map" resultType="com.fp.pet.domain.Product">
		SELECT productNum, p.categoryNum, categoryName, productName, price, savedMoney, discountRate, 
			delivery, thumbnail
		FROM product p
		JOIN productCategory c ON p.categoryNum = c.categoryNum
		WHERE special=0 AND productShow=1 AND p.categoryNum = #{categoryNum}
		ORDER BY productNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>

	<select id="findByCategoryName" parameterType="long" resultType="com.fp.pet.domain.Product" >
		select categoryname
		from productcategory
		where categorynum=#{categoryNum}
	</select>

</mapper>