<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fp.pet.admin.mapper.ReportMapper">

	<select id="dataCount" resultType="int">
		SELECT COUNT(*) AS count
		FROM (
		SELECT
		TO_NUMBER(REGEXP_SUBSTR(declUrl, '\d+')) as communitynum,
		ROW_NUMBER() OVER (PARTITION BY TO_NUMBER(REGEXP_SUBSTR(declUrl, '\d+')) ORDER BY
		r.reg_date) AS rn
		FROM report r
		JOIN community p ON TO_NUMBER(REGEXP_SUBSTR(r.declUrl, '\d+')) =
		p.communityNum
		) WHERE rn = 1
	</select>


	<select id="listReport"
		resultType="com.fp.pet.admin.domain.Report">
		SELECT communitynum
		FROM (
		SELECT
		TO_NUMBER(REGEXP_SUBSTR(declUrl, '\d+')) as communitynum,
		ROW_NUMBER()
		OVER (PARTITION BY TO_NUMBER(REGEXP_SUBSTR(declUrl, '\d+')) ORDER BY
		r.reg_date) AS rn
		FROM report r
		JOIN community p ON
		TO_NUMBER(REGEXP_SUBSTR(r.declUrl, '\d+')) =
		p.communityNum
		) WHERE rn =
		1
	</select>
	
	<select id="listReport2"
		resultType="com.fp.pet.admin.domain.Report">
		SELECT num as communitynum
		FROM (
		SELECT
		TO_NUMBER(REGEXP_SUBSTR(declUrl, '\d+')) as num,
		ROW_NUMBER()
		OVER (PARTITION BY TO_NUMBER(REGEXP_SUBSTR(declUrl, '\d+')) ORDER BY
		r.reg_date) AS rn
		FROM report r
		JOIN productReview p ON
		TO_NUMBER(REGEXP_SUBSTR(r.declUrl, '\d+')) =
		p.num
		) WHERE rn =
		1
	</select>

	<select id="listCommunity" parameterType="long"
		resultType="com.fp.pet.admin.domain.Report">
		select communityNum, m.userName as
		postName,categoryNum,showNo,
		subject,
		reg_date as preg_date
		From
		community c
		join member1 m on m.userId =
		c.userId
		where communityNum =
		#{communityNum}
	</select>
	
	<select id="listCommunity2" parameterType="long"
		resultType="com.fp.pet.admin.domain.Report">
		select num as communityNum, m.userName as
		postName, productNum  , showReview as showNo,
		review as subject,
		review_date as preg_date
		From
		productreview c
		join member1 m on m.memberIdx =c.memberIdx
		where num =
		#{num}
	</select>

	<select id="findReporyList" parameterType="map"
		resultType="com.fp.pet.admin.domain.Report">
		SELECT DISTINCT
		r.reasonNum,
		m.userid,
		r.reason,
		r.content,
		r.reg_date,
		m.userName as reportUser
		FROM
		report r
		JOIN
		member1 m ON
		r.memberIdx = m.memberIdx
		JOIN
		community p ON
		TO_NUMBER(REGEXP_SUBSTR(r.declUrl, '\d+')) = p.communitynum
		where
		communityNum = #{communityNum}
	</select>
	
	<select id="findReporyList2" parameterType="map"
		resultType="com.fp.pet.admin.domain.Report">
		 SELECT DISTINCT
		r.reasonNum,
		m.userid,
		r.reason,
		r.content,
		r.reg_date,
		m.userName as reportUser
		FROM
		report r
		JOIN
		member1 m ON
		r.memberIdx = m.memberIdx
		JOIN
		productReview p ON
		TO_NUMBER(REGEXP_SUBSTR(r.declUrl, '\d+')) = p.num
		where
		num = #{communityNum}
	</select>

	<update id="changeShow" parameterType="map">
		update community set
		showNo = #{showNo} where communityNum = #{communityNum}
	</update>
	
	
	<update id="changeShow2" parameterType="map">
		update productReview set
		showReview = #{showNo} where num = #{communityNum}
	</update>

</mapper>