<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fp.pet.mapper.UserIconMapper">
	
	<select id="listIcon" parameterType="long" resultType="com.fp.pet.domain.Icon">
		select il.iconNum,memberIdx,iconUse,iconName,iconImage,iconPrice
		from icon i
		JOIN iconList il ON il.iconNum = i.iconNum
		WHERE memberIdx = #{memberIdx}
		ORDER BY iconNum DESC
	</select>

</mapper>